.Message{
  margin-bottom: 0.3rem;
  border-radius: 5px;
  position: relative;
  /* box-shadow: 0px 0px 10px 2px rgb(61, 109, 99); */
  display: flex;
  min-width:4rem;
  box-sizing: border-box;
  /* overflow: hidden; */
  flex-direction: column;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

.BubbleRight:after{
  content: "";
  height:0px;
  width:0px;
  /* box-shadow: 0px 0px 10px 2px rgb(61, 109, 99); */
  border-bottom:0.8rem solid transparent;
  border-left:1.2rem solid rgb(172, 212, 172);
  position: absolute;
  top:0;
  right:-0.7rem;
}

.BubbleLeft:after{
  content: "";
  height:0px;
  width:0px;
  border-bottom:0.8rem solid transparent;
  border-right:1.2rem solid rgb(210, 212, 210);
  position: absolute;
  top:0;
  left:-0.7rem;
}

.MessageInfo{
  font-size: 0.75rem;
  display: flex;
  align-items: flex-end;
  position: absolute;
  bottom:0;
  right:5px;
}

.FailedMsgInfo{
  font-size: 0.8rem;
  line-height: 80%;
}

.Remove{
  /* background:  rgb(172, 212, 172); */
  /* background: linear-gradient(to right,rgba(172, 212, 172,0.6) 0.45rem,rgba(172, 212, 172,1) 0.45rem); */
  min-width:2rem;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top:0;
  right:0;
  z-index: 4;
  cursor:pointer;
  text-align: center;
}

.Message:hover > .Remove{
  animation: showRemoveButton 0.1s linear forwards;
}

@keyframes showRemoveButton {
  0% {
    /* transform: translateX(100%); */
    min-width:0;
    visibility:visible;
  }
  33%{
    /* transform: translateX(50%); */
    min-width:0.66rem;
    visibility:visible;
    opacity: 0.33;
  }

  66%{
    /* transform: translateX(50%); */
    min-width:1.32rem;
    visibility:visible;
    opacity: 0.66;
  }
  100%{
    /* transform: translateX(0); */
    min-width:2rem;
    visibility:visible;
    opacity: 1;
  }
}

