.NotificationMessage{
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  text-align: left;
  line-height: 100%;
}

.Date{
  font-size: 0.75rem;
  display: flex;
  align-items: flex-end;
  position: absolute;
  bottom:0;
  right:5px;
}